<%- include('header') -%>

<h1 class="heading">Undirskriftarlisti</h1>

<form class="sign" method="post" action="/">
  <div class="field">
    <label class="field__label" for="name">Nafn*</label>
    <input
      class="field__input<%= locals.isInvalid('name', errors) ? ' field--invalid' : '' %>"
      required
      type="text"
      name="name"
      id="name"
      value="<%= name %>"
    />
  </div>
  <div class="field">
    <label class="field__label" for="nationalId">Kennitala*</label>
    <input
      class="field__input<%= locals.isInvalid('nationalId', errors) ? ' field--invalid' : '' %>"
      required
      type="text"
      name="nationalId"
      id="nationalId"
      value="<%= nationalId %>"
    />
  </div>
  <div class="field">
    <label class="field__label" for="comment">Athugasemd:</label>
    <textarea class="field__input<%= locals.isInvalid('comment', errors) ? ' field--invalid' : '' %>" name="comment" id="comment"><%= comment %></textarea>
  </div>
  <div class="checkbox">
    <input class="checkbox__box" type="checkbox" name="anonymous" <%= anonymous ? 'checked' : '' %> <%= anonymous === 'checked' ? true : false %>>
    <label class="checkbox__label" for="anonymous">Ekki birta nafn á lista</label>
  </div>

  <% if (errors.length > 0) { %>
  <h3 class="heading">Villur við undirskrift:</h3>
  <ul class="error">
    <% errors.forEach((error) => { %>
    <li class="error__item">
      <label class="error__label" for="<%= error.param %>"><%= error.msg %></label>
    </li>
    <% }); %>
  </ul>
  <% } %>

  <button class="sign__btn">Skrifa undir</button>
</form>

<div class="signatures">

<h2 class="heading">Undirskriftir</h2>

  <% if (list.items.length === 0) { %>
  <p>Engar undirskriftir.</p>
  <% } %> <% if (list.items.length !== 0) { %>
  <table class="signatures__table">
    <tr class="signatures__row">
      <th class="signatures__heading">Dags</th>
      <th class="signatures__heading">Nafn</th>
      <th class="signatures__heading">Athugasemd</th>
    </tr>
    <% list.items.forEach((signature) => { %>
    <tr class="signatures__row">
      <td class="signatures__col"><%= formatDate(signature.signed) %></td>
      <td class="signatures__col"><%= formatName(signature) %></td>
      <td class="signatures__col"><%= signature.comment %></td>
    </tr>
    <% }); %>
  </table>
  <% } %>
</div>

<%- include('footer') -%>
